{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        {{ _('Welcome to Microblog') }}
    {% endif %}
{% endblock %}
{% block navbar %}
    <style>
        .logo{
            position: relative;
            bottom:20px ;
        }
        .aaa{
            display:none;
        }
        .table_stretch:hover .aaa{
            display:block;
            background-color:orange;
            color:white
        }
    </style>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><img class="logo" src="https://www.hkbn.net/personal/dist/img/node_modules/all-in-one-web-header-footer/dist/img/navbar/logo363307a4d76e2893cda8d4af5b06724e.svg" alt="Girl in a jacket" width="60" height="60"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('index') }}">{{ _('首頁') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('explore') }}">{{ _('至筍推介') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('partnership_benefits') }}">{{ _('新居入伙優惠') }}</a>
                    </li>
                    <li class="table_stretch">
                        <a href="{{ url_for('services') }}">{{ _('服務方案') }}</a>
                        <ul class="aaa">
                            <li>家居寬頻</li>
                            <li>Wi-Fi 6/7</li>
                            <li>智能家居</li>
                            <li>流動通訊</li>
                            <li>語音電話</li>
                            <li>醫療保健</li>
                            <li>保險</li>
                            <li>網絡安全</li>
                            <li>娛樂</li>
                            <li>電競</li>
                            <li>外遊</li>
                            <li>手機及智能產品</li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('benefits_and_support') }}">{{ _('禮遇及支援') }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li>
                            <a href="{{ url_for('login') }}">{{ _('Login') }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}<div class="alert alert-info" role="alert">{{ message }}</div>{% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
