{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <nav aria-label="...">
    <div>
        <div>
            <img style="width:1400px ; height:400px" src="https://aio-static.hkbn.net/content/querySceneNewMoveInOfferContents/nXffsf6nCsN0SQTYZ0qthJ2OwfNt6XZI4ESNWMT8rI4.png?format=auto">
        </div>
        <div>
            <img style="width:1400px ; height:400px" src="https://aio-static.hkbn.net/content/querySceneNewMoveInOfferContents/qJz099CQcsB175wwD9RoQcDbjkTEEaqY1xLxXu3dxg.png?format=auto">
        </div>
        <div style="width:2000px">
            <h5><a href="{{ url_for('buy') }}">立即登記 體驗真正極速光纖上網</a></h5>
            <h1>新入伙家居光纖寬頻</h1>
            <h5>輸入地址查詢家居寬頻網絡覆蓋及月費計劃</h5>
            <form>
            <div class="form-group">
                <label for="name">{{ _(' %(username)s先生，請輸入完整的地址哦！', username=current_user.username) }}</label>
                <input style="width:1400px ; height:35px" type="text" class="form-control" id="name" required>
            </div>
            <button ><a href="{{ url_for('buy') }}">提交</a></button>
            </form>
        </div>
    </div>
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
